.container{
    width: 400px;
    height: 700px;
    margin-left: 35%;
    margin-top: 2%;
    background-color: white;
    border-radius: 10px;
}
#tit_1{
    text-align: center;
    padding-top: 20px;
    transition: 0.5s;
}
#tit_1 a{
    color: inherit;
  text-decoration: inherit;
}
#tit_1:hover{
    transform: scale(1.2);
}
#tit_2{
    text-align: center;
    padding-top:20px;
}
body{
    background-image: url(/쥬조작품/image/backimage1.PNG);
    background-repeat: no-repeat;
    background-size: 100%;
}
.set-idbox{
    width: 20%;
    position: absolute;
    top: 35%;
    left:51%;
    transform: translate(-50%, -50%);
}
.set-id{
    width: 100%;
        position: absolute;
        display: flex;
        top:30px;
        font-family: 'Gugi', cursive;
        width: 100%;
        border: 3px solid red;
        border-left: none;
        border-right: none;
        border-top: none;
        padding: 0px;
        height: 40px;
        outline: none;
        color: black;
        font-size: 100%;
        transition: font-size .5s;
}
.set-id:focus{
    color: black;
    font-size: 130%;
}

.set-pwbox{
    width: 20%;
    position: absolute;
    top: 55%;
    left:51%;
    transform: translate(-50%, -50%);
}
.set-pw{
    width: 100%;
        position: absolute;
        display: flex;
        top:30px;
        font-family: 'Gugi', cursive;
        width: 100%;
        border: 3px solid red;
        border-left: none;
        border-right: none;
        border-top: none;
        padding: 0px;
        height: 40px;
        outline: none;
        color: black;
        font-size: 100%;
        transition: font-size .5s;
}
.set-pw:focus{
    color: black;
    font-size: 130%;
}
.set-emailbox{
    width: 20%;
    position: absolute;
    top: 75%;
    left:51%;
    transform: translate(-50%, -50%);
}
.set-email{
    width: 100%;
        position: absolute;
        display: flex;
        top:30px;
        font-family: 'Gugi', cursive;
        width: 100%;
        border: 3px solid red;
        border-left: none;
        border-right: none;
        border-top: none;
        padding: 0px;
        height: 40px;
        outline: none;
        color: black;
        font-size: 100%;
        transition: font-size .5s;
}
.set-email:focus{
    color: black;
    font-size: 130%;
}

.register_submit{
    text-align: center;
    width: 14%;
    height: 50px;
    background-color: orange;
    border: none;
    position: absolute;
    right: 42.5%;
    top:100%;
    border-radius: 30px;
    box-shadow: 0 4px 16px rgba(236, 155, 48, 0.3);
    transition: 0.3s;
  }
  .register_submit:focus{
    outline: 0;
  }
  .register_submit:hover{
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(236, 155, 48, 0.9);
    transform: scale(1.1);
  }
  .registertext{
    font-family: 'Gugi', cursive;
    color : white;
    font-weight: bold;
    text-decoration: none;
  }